html {
  outline: pink dashed 1px;
}

h1 {
  font-size: 10em;
}

#descripcion {
  background-color: aqua;
}

#menu {
  float: none;
  width: auto;
}

#opciones {
  margin: 0px;
  padding: 0px;
}

.opcionmenu {
  background: yellow;
  border: 1px solid black;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

@media screen and (min-width: 480px) {
  #menu {
    width: 200px;
    float: left;
  }
}
